<div class="collection z-depth-2">
  <a href="/todo" class="collection-item"><i class="material-icons">hourglass_full</i>未完成</a>
  <a href="/stared" class="collection-item"><i class="material-icons">star</i>已加星标</a>
  <a href="/done" class="collection-item"><i class="material-icons">done</i>已完成</a>
</div>
