<div class="collection z-depth-2">
  <a href="/todo" class="collection-item"><i class="material-icons">hourglass_full</i>未完成<span class="badge">1</span></a>
  <a href="/stared" class="collection-item"><i class="material-icons">star</i>已加星标<span class="badge">3</span></a>
  <a href="/done" class="collection-item"><i class="material-icons">done</i>已完成<span class="badge">9</span></a>
</div>
